.notification-icon {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red; /* Choose your desired badge color */
  color: white;
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 8px;
}

/* chart */
.area-spline-chart {
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.data-point {
  width: 20px;
  background-color: rgba(75, 192, 192, 0.5);
  border-radius: 10px 10px 0 0;
}

.x-axis-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
